.card {
    width: 250px;
    display: flex;
    flex-flow: column nowrap;
    margin: auto;
}

.card-ratings {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}