.App {
  text-align: center;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  width: 250px;
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
}

.CardContainer {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.HomePage {
  margin: auto;
}

.Search {
  text-align: center;
  padding-bottom: 1em;
}

.Search > input {
  line-height: 2.5em;
  width: 49%;
  font-size: 15px;
  padding-left: 10px;
  border-radius: 5px;
  border: 0;
  margin-right: 5px;
}

.Search > button {
  line-height: 2.5em;
  width: 100px;
  background: #04addc;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  border: 0;
}

button:hover {
  cursor: pointer;
}

.star {
  fill: white;
}

.DetailsImg {
  display: inline-block;
  width: 50%;
}

.DetailsInfo {
  display: inline-block;
  width: 50%;
}

@media (min-width: 1024px) {
  .HomePage {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .HomePage {
    width: 67%;
  }
}
.image:hover {
  cursor: pointer;
}
